.spinner {
    -webkit-transform-origin: 50% 65%;
            transform-origin: 50% 65%;
  }
  
  
  @-webkit-keyframes dash {
    to {
      stroke-dashoffset: 136;
    }
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 136;
    }
  }
  @-webkit-keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }