@import "../../index.scss";
.endor-text-section{
  width: 50%;
}
.endor {

  &-title {
    display: flex;
    // justify-self: center;
  }

  &-avatar{
    width: 2rem;
  }
  
  &-text {
    justify-content: space-around;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1rem;;
    align-items: center;
      &-light {
      color: black;
      }
      &-dark {
      color: white;
      }
    
    &-body{
      display: flex;
    }
  
    &-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 0;
      padding-top: 1rem;
      padding-bottom: 2rem;

      &-no-data {
        display: flex;
        justify-content: flex-start;
      }
    }
  
    &-stakes {
      &-no-data {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2rem;
      }
      &-item {
        font-size: 1rem;;
        &-light {
        color: black;
        }
        &-dark {
        color: white;
        }
        &-2 {
          font-size: 0.8rem;;
          &-light {
          color: black;
          }
          &-dark {
          color: white;
          }
        }
      }
    }
  
    &-contacts {
      &-section {
        padding-left: 1rem;
        padding-right: 0;
        margin-top: 1rem;
        font-size: 0.7rem;
        width: 22rem;
        flex-wrap: wrap;
        text-align: left;
        &-light {
        color: black;
        }
        &-dark {
        color: white;
        }
      }
      &-body {
        font-size: 0.7rem;
        margin-top: 0.5em;
      }
    }

    &-truncate {
      display:inline-block;
      max-width: 5rem;
      vertical-align: bottom;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    &-image-item {
      margin-top: 1rem;
      height: 3rem;
      border-radius: 50%;
      &-light {
        border: 2px solid $primary-color-bottom;
      }
      &-dark {
        border: 2px solid $primary-color-bottom;
      }
    }
  }

}

// -----large screens---------

@media only screen
and (min-width : 768px) {
  .endor {
    &-title {
        display: flex;
        justify-self: center;
    }
    
    &-text {
      padding-left: 0;

      &-section {
        padding-top: 1rem;
        padding-bottom: 1rem;
        // align-items:flex-start;
        // justify-content: flex-start;
        margin-top: 0;
      }

      &-body {
        padding-left: 0rem;
        padding-right: 0rem;
        }
        
      &-contacts {
        &-body {
          font-size: 1rem;
        }
      }
      &-stakes {
        &-item {
          font-size: 1.5rem;
          &-2 {
            font-size: 1rem;
          }
        }
      }
  }
}

}

// -----transition screens---------

@media only screen
and (min-width : 768px) {
  .endor {

      &-section {
        margin-top: 4rem;
      }
  }
}


// -----larger screens---------

@media only screen
and (min-width : 1481px) {
  .endor {

      &-text {
        &-section {
          align-items:flex-start;
          justify-content: flex-start;
        }
      }
  }
}


