@import "../../index.scss";

.x-utu-disconnect {
  &-wallet-btn {
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: $light-color-desktop;
  border-radius: 5px;
  padding: 0.5rem;
  }
  &-text-input-btn {
    width: 100%;
    background-color: $primary-color-bottom;
  }
}
