.stars {
    &-section {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      &-text {
        display: flex;
        align-items: center;
        margin-top: 1rem;;
        justify-content: center;
        &-content {
          text-align: justify;
        }
      }
      &-align {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 1rem;
        // width: 30%;
       }
    }

}

/* ----------- Large screens ----------- */

@media only screen
and (min-width : 768px) {

  .stars {
    &-section {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    justify-content: start;

    }
    &-text {
      width: 60%;
     }    

     &-align {
      width: 40%;
     }
  }
}

/* ----------- Larger screens ----------- */


@media only screen
and (min-width : 1481px) {

  .stars {
    &-section {
       &-text {
        justify-content: start;
       }
     
       &-align {
         align-items: start;  
       }
    }
  }
}
