@import "../../index.scss";

.x-utu-app-link {
  width: 100%;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: $light-color-desktop;
  &-btn {
    background-color: $primary-color-bottom;
    width: 100%;
  }
  &-text {
    margin-top: 0.25rem;
  }
}
a {
  text-decoration:none;
  color: $typo-lines-dark;
}
a :hover {
  color: $typo-lines-dark;
}