@import "../../index.scss";

.video-avatar{
  width: 2rem;
}
.video-placeholder{
  height: 2rem;
}
  .review {
    &-section {
      width: 100%;
      display: flex;
      justify-content: center;
      white-space: nowrap;
      overflow-x: scroll;
      &-no-data {
        justify-content: center;
      }


      /* width */
      &::-webkit-scrollbar {
        width: 10px;
        height: 8px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $primary-color;
        border-radius: 10px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;     
      &-sum {
        display: flex;
        text-align: left;
        padding-left: 1rem;
        font-size: 0.9rem;
        align-items: center;
        margin: 0 8px;
        white-space: pre-line;
        width: 50px;
        inline-size: 100%;
        font-style: italic;
        font-weight: 500;
      }
      &-cont {
        display: flex;
        text-align: left;
        padding-left: 1rem;
        font-size: 1rem;
        align-items: center;
        margin: 0.5rem 8px;
        white-space: pre-line;
        width: 50px;
        inline-size: 100%;
      }
      &-dark {
        color: $dark-env-typo-lines-light;
      }
      &-light {
        color: $typo-lines-dark;
      }
    }
    
    &-card {
      font-size: 0.7rem;
      display: flex;
      padding: 2rem 1.5rem;
      justify-content: space-around;
      &-group {
        width: 30rem;
        display:flex;
        padding: 2rem 2.5rem 2rem 1.5rem;
        background-color: rgba(255, 221, 51, 0.15);
        align-items: center;
        min-height: 10rem;
      }
      &-section {
        display: flex;
      }
    }
    
    &-img {
        border-radius: 50%;
        height: 3rem;
        border: 1px $secondary-color solid;
    }
  }

  .onerror-review-img{
    border-radius: 50%;
    height: 3rem;
    border: 1px $secondary-color solid;
  }

/* ----------- Transition screen ----------- */

@media only screen
and (min-width : 768px) {
  .review {

    &-section {
      width: 100%;
      display: flex;
      justify-content: start;
    }
}
}

@media only screen
and (min-width : 1481px) {
  .review {

    &-section {
      width: 45%;
      display: flex;
      white-space: nowrap;
      overflow-x: scroll;
    }
    
    &-text {
      &-cont {
        inline-size: 100%;
      }
      &-dark {
        color: $dark-env-color;
      }
      &-light {
        color: $typo-lines-dark;
      }
    }
    &-card {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display:flex;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
    word-wrap:break-word !important;    
  }
}
}