@import "../RecordVideo/partials/Player";
@import "../../index.scss";


.utu-feedback-details {
  min-height: 30rem;
  width: 100%;
  margin: auto;
  background-color: $light-color-desktop;
  display: flex;
  flex-direction: column;
  text-align: center;
  position:relative;
  z-index: 1;
  justify-content: start;
  border-bottom: 15px $primary-color-bottom solid;

  &-details {
    justify-content: start;
    max-height:40rem;
  }
  
  &-video-popup {
    justify-content: center;
    max-height: 80rem;
    height: 43rem;
  }
}
.mobile-view {
  visibility: visible;
}
.desktop-view {
  display: none
}

/* ----------- Transition screen ----------- */

@media only screen
and (min-width : 768px) {

  .utu-feedback-details {
    width: 65%;
    border-bottom: 0;
    z-index: 1;
    align-items: center;
    margin-bottom: 10rem;
  }

  .mobile-view {
    display: none;
  }

  .desktop-view {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 5rem;
    &-video-stars {
        display: flex;
        flex-direction: column;

    }
  }

  .desktop-view-block-1 {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &-dark {
      background-color: $dark-env-color-desktop;
    }
    &-light {
      background-color: $light-color-desktop;
    }
  }
  
  .desktop-view-block-2 {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &-dark {
      background-color: $dark-env-color-desktop;
    }
    &-light {
      background-color: $light-color-desktop;
    }
  }
}

/* ----------- Large screens ----------- */

@media only screen
and (min-width : 1481px) {
  .utu-feedback-details {
    border-bottom: 0;
    z-index: 1;
    align-items: center;
    width: 65%;
  }
  .mobile-view {
    display: none;
  }
  .desktop-view {
    display: flex;
    width: 100%;
    flex-direction: column;
    &-video-stars {
        display: flex;
        flex-direction: column;

    }
  }
  .desktop-view-block-1 {
    min-height: 15rem;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-between;
    &-dark {
      background-color: $dark-env-color-desktop;
    }
    &-light {
      background-color: $light-color-desktop;
    }
  }
  
  .desktop-view-block-2 {
    min-height: 15rem;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 2rem 1rem;
    justify-content: space-between;
    align-items: start;
    &-dark {
      background-color: $dark-env-color-desktop;
    }
    &-light {
      background-color: $light-color-desktop;
    }
  }
  
}