

$font-family: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


// ---------color variables---------------------

// general
$primary-color: rgb(252, 229, 70);
$primary-color-bottom: rgb(252, 229, 70);
$secondary-color: rgb(155, 152, 152);
$error-color: #e80054;
$border-radius: 10px;
$padding-sm: 16px;

// light environment
$typo-lines-dark: #000000;
$light-color: rgb(253, 253, 253);
$light-color-2: #e5e5e5;
$light-color-desktop: #fcf8e5;

// dark environment
$dark-env-secondary-color: rgb(235, 232, 232);
$dark-env-typo-lines-light: #ffffff;
$dark-env-color: rgb(36, 35, 35);
$dark-env-color-2:#494949;
$dark-env-color-desktop: #3d3d3c;

// ---------font size var for mobile view -----------

// ---------general-----------

body {
  overflow: scroll;
}

h3 {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
}

.error {
  color: $error-color;
}

:host {
  margin: 0;
  font-family: $font-family;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  color: $typo-lines-dark;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: $typo-lines-dark;
}

// --------Spinner adopted from UTU App----------

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
    border-top-color: $primary-color;
    border-bottom-color: $secondary-color;
    border-right-color: transparent;
    border-left-color: transparent;
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 21px;
  height: 21px;
  display: inline-block;
  border: 3px solid $primary-color;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: spin 1s infinite;
  margin: 12px;
}

// --------- sections ---------------------

.x-utu-section {
  width: 100%;
  &-light {
    border-bottom: 1px solid $secondary-color;
    background: $light-color;
  }
  &-dark {
    border-bottom: 1px solid $dark-env-secondary-color;
    background: $dark-env-color;
  }
  &-no-border {
    &-light {
      background: $light-color;
    }
    &-dark {
      background: $dark-env-color;
    }
    &-mid {
      &-light {
        background: $light-color;
      }
      &-dark {
        background: $dark-env-color-2;
      }
    }
  }
}

// ---------buttons---------------------

.x-utu-btn {
  padding: 12px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  font-family: $font-family;
  &-light {
    background-color: $primary-color;
    color: $typo-lines-dark !important;
  }
  &-dark {
    background-color: $primary-color;
    color: $typo-lines-dark !important;
  }
  &-round {
    color: $light-color !important;
    &-text {
      color: $light-color !important;
    }
  }
  &-icon {
    border: none;
    background: none;
    padding: 0;
    font-family: $font-family;
    font-weight: 500;
    font-size: 14px;
  
    svg {
      width: 60px;
      height: 60px;
    }
  }
}



button.p {
  color: white;
}

// ---------Submit result indicators-------------------

.submit {
  &-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

    svg {
      width: 45px;
      height: 45px;
      margin: auto;
    }
  }
  &-success {
    @extend .submit-result;
  }
  &-error {
    @extend .submit-result;
  }
}

// ---------logo---------------------

.logo {

  &-position {
    position: absolute;
    top: -1rem;
    right: 20%;
    z-index: 0;
    width: 0.5rem;

    &-details {
      position: absolute;
      top: -1.1rem;
      right: 6rem;
      z-index: 0;
      width: 0.5rem;
    }

    &-player {
      position: absolute;
      bottom: -0.5rem;
      left: 22rem;
      z-index: 0;
      display: none;
      width: 0.5rem;
    }
    &-mobile {
      position: absolute;
      top: -1rem;
      right: 4rem;
      z-index: 2;
      width: 0.5rem;
    }
    &-video {
      position: absolute;
      bottom: 0;
      right: 10%;
      // &-section {
      //   position: absolute;
      //   left: 21rem;
      //   top: 35.6rem;
      // }
    }
  }

  &-section {
    position: relative;
    &-mobile {
      position: relative;
    }
  }

  &-size {
    width: 3rem;
  }

  &-video {
    &-section {
      position: relative;
    }
    &-position {
      position: absolute;
      z-index: 0;
      display: none;
      width: 5rem;
      left: 21rem;
      top: 35.6rem;
    }
  }
}

// ---------text---------------------

.x-utu-text-area {
  resize: vertical;
  min-height: 8rem;
  border-radius: $border-radius;
  border: none;
  padding: $padding-sm;
  font-weight: 300;
  font-size: 0.9rem;
  background-color: rgba(255, 221, 51, 0.1);
}

// ---------record video component---------------------

svg.video-icon {
  width: 2rem;
  height: 1.4rem;
  &-dark {
    fill: $typo-lines-dark;
    }
  &-light {
    fill: $typo-lines-dark;
    }
}

/* ----------- Large screens ----------- */

@media only screen
and (min-width : 768px) {

    .x-utu-section {
       width: 100%;
      &-light {
        border-bottom: 0;
        background-color: $light-color-desktop;
      }
      &-dark {
        border-bottom: 0;
        background: $dark-env-color;
        background-color: $dark-env-color-desktop;
      }
      &-no-border {
        &-light {
          background-color: $light-color-desktop;
        }
        &-dark {
          background-color: $dark-env-color-desktop;
        }
        &-mid {
          &-light {
            background-color: $light-color-desktop;
          }
          &-dark {
            background-color: $dark-env-color-desktop;
          }
        }
      }
    }

  .x-utu-text-area {
    background-color: rgba(255, 221, 51, 0.1);
  }
  .logo-position-video {
    top: 41.2rem;
    position: absolute;
    left: 21rem;
  }
  .logo-section {
    position: relative;
    &-mobile {

    .logo {
      &-position-video {
        top: 41.2rem;
        position: absolute;
        left: 21rem;
      }
      &-section {
        position: relative;
      }
    }
  }

}

}

.x-utu-border-radius {
  border-radius: 5px;
}


/*
shimmer effect animation
*/

.skeleton {
  background-color: #e2e5e7;
  background-image: linear-gradient(
                  90deg,
                  rgba(#fff, 0),
                  rgba(#fff, 0.5),
                  rgba(#fff, 0)
  );
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1s ease infinite;
}


@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}

.description {
  display: flex;
  flex-direction: row;
}
.details {
  display: flex;
  flex-direction: column;
  margin: 5px 5px;
}

.icon {
  width: 70px;
  min-height: 70px;
  border-radius: 4px;
  margin: 5px 0;
}

.title {
  width: 500px;
  min-height: 28px;
  border-radius: 4px;
  margin-bottom: 5px;
  line-height: 28px;
}

.information {
  min-height: 42px;
  border-radius: 4px;
  width: 500px;
}
