@import "../../index.scss";

.x-utu-feedback-form {

    &-popup {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0.5rem;
      border-radius: 5px;
    }
}

.desktop-view {
  display: none
}

/* ----------- Large screens ----------- */

@media only screen
and (min-width : 768px) {

  .x-utu-feedback-form {
    border-bottom: 0px;
    z-index: 1;
    align-items: center;
    height: 100%;
  }

  .mobile-view {
    display: none;
  }
  
  .desktop-view {
    display: flex;
    width: 100%;
    flex-direction: column;
    
    &-block-1 {
      width: 65%;
      margin: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: 0 4.5rem 0 4.5rem;
      &-dark {
        background-color: $dark-env-color-desktop;
      }
      &-light {
        background-color: $light-color-desktop;
      }
    }
    
    &-block-2 {
      width: 65%;
      margin: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      &-dark {
        background-color: $dark-env-color-desktop;    
      }
      &-light {
        background-color: $light-color-desktop;
      }
    }
    
    &-block-3 {
      width: 65%;
      margin: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      &-dark {
        background-color: $dark-env-color;
      }
      &-light {
        background-color: $light-color;
      }
    }
  }
}
.x-utu-form-badges{
  text-align: center;
}
.x-utu-divider{
  background-color: rgba(189, 195, 199, 0.3);
  height: 90px;
  width: 3px;
}
.x-utu-feedback-form-Badges{
  width: 65%;
  min-height: 8rem;
  margin: auto;
  background-color: $light-color-desktop;
}