@import "../../index.scss";

.x-utu-feedback-details-popup {
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;   
}