@import "../RecordVideo/partials/Player";
@import "../../index.scss";

.utu-feedback{
  position: relative;
  width: 30%;
  margin: auto;
}

.video-section {
  display: flex;
  list-style-type: none;
 }

 .no-data-avatar {
  display: flex;
  min-width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid $secondary-color;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
 }

 .no-data-avatar > * {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.35rem;
 }

.avatar {
  cursor: pointer;
  display: flex;
  justify-content: center;
    &-img {
     border-radius: 50%;
     height: 2rem;
     border: 1px $secondary-color solid;
     &-top {
       height: 4rem;
       border-radius: 50%;
       border: 4px solid $primary-color;
       &:not(:first-child) {
         margin-left: -15px;
       }
       &-video {
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         padding: 1rem;
         &-text {
            margin-top: 1rem;
          }
          &-container {
            display: flex;
            align-items: center;
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            flex-direction: column;
            
          }
       }
       &-details {
        display: flex;
        height: 4rem;
        border-radius: 50%;
        border: 4px solid $primary-color;
        margin-left: -0.6rem;
        align-items: center;
        padding-bottom: 0;
        &:not(:first-child) {
          margin-left: -15px;
          
         }
       }
       &-list-item {
        display: flex;
         flex-direction: row;
        align-items: flex-start;
       }
     &-text {
       font-size: 0.8rem;
       text-align: left;
       width: 19rem;
     }
   }
     &-no-img {
       width: 6rem;
       border-radius: 50%;
       padding: 1.5rem;

       &-no-vid {
         padding: 5px!important;
       }
       &-light {
         background-color: $primary-color;
         border: 4px solid $primary-color;
       }
       &-dark {
         background-color: $primary-color;
         border: 4px solid $primary-color;
       }
     } 
     &-no-video {
       &-dark {
         fill: $typo-lines-dark;
         }
       &-light {
         fill: $typo-lines-dark;
         }
     }
   }  
  }

  /* ----------- Transition screens ----------- */

@media only screen
and (min-width : 768px) {
  .utu-feedback{
    width: 25%;
  }
  .avatar {
     &-img-top-video {
      justify-content: center;
      &-container {
        flex-direction: column;
      }
    }
  }

}

/* ----------- Large screens ----------- */

@media only screen
and (min-width : 1481px) {
  .utu-feedback{
    width: 20%;
  }
  .avatar {
    justify-content: start;
     &-img-top-video {
      padding-top: 0;
       align-items: start;
      justify-content: start;
      &-profile {
        display: flex;
        align-items: start;
        justify-content: start;
        width: 100%;
      }
      &-container {
        flex-direction: column;
      }
      &-text {
        text-align: start;
      }
    }

    &-no-img {
      margin-bottom: 1rem;
      margin-top: 0.5rem;
    }
  }

}