@import "../../index.scss";

// button

.button {
  cursor: pointer;
  &:hover {
    background-color: $light-color;
  }
  &:active {
    transform: translateY(1px);
  }
}

// badge
.x-utu-badge {
  
  &-set {
    &-container {
      width: 6em;
      height: 72px;
      padding: 1rem 1rem 1rem 0;
      }
      &-section {
      display: flex;
      flex-direction: row;
      background-color: rgba(255, 221, 51, 0.1);
      border-radius: 10.07px;
    }
  }
   
  
  &-section {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 1rem;
    width: 95%;
    margin: auto;
    &-title {

    }
    & > div {
      padding: 1rem;
    }
  }
  
  &-disable {
    height: 50px;
    width: 50px;
    opacity: 0.6;
  }
  
  &-item-text {
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  &-text {
    font-size: 0.7rem;
    &-h3 {
      text-align: center;
      &-light {
        color: $typo-lines-dark
      }
      &-dark {
        color: $dark-env-typo-lines-light
      }
    }
  }
  
  &-img {
    width: 2rem;
    &-container {
      display: flex;
      justify-content: space-around;
      opacity: 1;
    }
    &-big {
      width: 4.5rem;
    }
    &-big-section {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
    }
  }
}
.x-utu-badge-section-title{
  width: 100%;
  box-sizing: border-box;
}

/* ----------- Large screens ----------- */

@media only screen
and (min-width : 768px) {
  .x-utu-badge-section{
      padding-left: 0;
      padding-right: 0;
    }
}

@media only screen
and (min-width : 1210px) {
  .x-utu-badge-section{
    padding-top: 0;
    }
}
