@import "../../index.scss";

.utu-recommendation {  
  border-radius: 5px;
  padding-right: 1rem;
  &-content {
      display: flex;
      margin-left: 5px;
  }
  &-text {
    align-self: center;  
    margin-left: 20px;;
    &-light {
      color: $typo-lines-dark
    }
    &-dark {
      color: $dark-env-typo-lines-light
    }
  }
}

.summary-image {
  &-list {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0 1rem 2rem;
    padding-left: 0;
    list-style: none;
  }
  &-item {
    margin-left: -15px;
    height: 2.5rem;
    &-light {
      border: 2px solid $primary-color-bottom;
    }
    &-dark {
      border: 2px solid $primary-color-bottom;
    }
  }
}


