@import "../../index.scss";


.x-utu-feedback-text {
  
  &-space {
    align-self: start;
  }
  
  &-area {
    padding: 5px;
    height: 8rem;
    width: 100%;
    border-radius: $border-radius $border-radius 0 0;
    border: 0;
    background-color: rgba(255, 221, 51, 0.1);
  }
  
  &-input {
    &-section{
      width: 100%;
      display: flex;
      justify-content: center;
    }
    &-form {
      display: flex;
      flex-direction: column;
      padding: 1rem 2.5rem 1rem;
      justify-content: center;
      align-items: center;
      width: 100vw;
    }
    &-btn {
      border-radius: 0 0 $border-radius $border-radius;
      width: 100%;
    }
  }
}

/* ----------- Large screens ----------- */

@media only screen
and (min-width : 768px) {
  .x-utu-feedback-text {

    &-area {
      width: 100%;
      min-height: 10rem;
    }
    
    &-input {
      &-form {
      padding: 2rem 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      }
      &-btn {
        width: 100%;
      }
    }
  }
}

