@import "../../index.scss";
@import "partials/Player";

.x-utu-video {
  display: flex;
  justify-content: center;
  &-btn {
    &-round {
      border: none;
      margin: 5px 0;
      width: 4rem;
      height: 4rem;
      border: none;
      font-size: 9px;
      font-weight: 500;
      font-family: $font-family;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 1;
      border-radius: 50px;
      &-light {
        background-color: $primary-color;
      }
      &-dark {
        background-color: $primary-color;
      }
      &-loading {
        position: absolute;
        bottom: 5.5rem;
        margin-top: 0.25;
      }
      &-spinner {
        &-light {
          fill: $typo-lines-dark;
        }
        &-dark {
          fill: $typo-lines-dark;
        }
      }
      &-play {
        width: 4rem;
        margin-left: 0.5rem;
        &-light {
          fill: $typo-lines-dark;
        }
        &-dark {
          fill: $typo-lines-dark;
        }
      }
      &-stop {
        position: absolute;
        bottom: 10%;
        margin-top: 0.25;
        background-color: $primary-color;
        &-light {
          fill: $typo-lines-dark;
        }
        &-dark {
          fill: $typo-lines-dark;
        }
      }
      &-text {
        &-light {
          color: $typo-lines-dark;
        }
        &-dark {
          color: $typo-lines-dark;
        }
      }
    }
    &-container {
      display: flex;
      z-index: 0;
      justify-content: center;
    }
    &-stop-icon {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      &-light {
        background: $typo-lines-dark;
      }
      &-dark {
        background: $typo-lines-dark;
      }
    }
  }

  &-screen-recording {
    width: 100%;
    position:relative;
    z-index: 1;
    justify-content: center;
  }

  &-recorder {
    padding-top: 0;
    padding-bottom: 4rem;
    height: fit-content;
  }

  &-container {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &-response-message{
    height: 3rem;
    line-height: 3rem;
    width: 100%;
  }

  &-wrapper{
    display: flex;
    align-items: center;
  }
}

/* ----------- Large screens ----------- */

@media only screen
and (min-width : 768px) {
  .x-utu-video {
    
    &-recorder {
      padding-bottom: 4rem;
      height: fit-content;
      background-color: $light-color !important;  
    }
    
    &-btn-round-stop {
      bottom: 2.5rem;    
    }
    
    &-container {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    
    &-screen-recording {
      max-height:80rem;
      min-width: 20rem;
      width: 27rem;
      height: 43rem;
      margin: 5% auto 0;
      z-index: 1;
      justify-content: center;
      border-bottom-left-radius: 2%;
      border-bottom-right-radius: 2%;
      border-bottom: 13px $primary-color solid;

    }
  }
}
