@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

.video-msg {
  position: absolute;
}

.trust-video {
  border: none;
  width: 100%;
  height:100%;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
  $v: &;
  &-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    // margin-top: -14.4rem;
    align-items: center;
    // position: relative;
    &:hover {
      #{$v}-controls {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &-msg {
    display: flex;
    align-items: center;
  }
  &-controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 35%;
    transform: translate(0, -50%);
    padding-left: 36px;
    border-radius: 10px;
    height: 4em;
    align-items: center;
    justify-content: space-between;

    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-out;

    display: none;
    &.show {
      display: flex;
    }
  }

  &-play {
    border-color: transparent;
    transition: 0.3s;
    font-size: 3em;
    margin: auto;
    line-height: 1.5em;
    width: 3em;
    height: 3em;
    padding: 0;
    cursor: pointer;
    opacity: 1;
    background-color: #ffdd33;

    border-radius: 50%;
    font: normal normal normal 18px/1 FontAwesome;
    &:before {
      content: "\f04b";
    }

    &.paused {
      &:before {
        content: "\f04c";
      }
    }
  }

  &-volume {
    border-color: transparent;
    color: rgba(43, 51, 63, 0.7);
    font-size: 3em;
    border-radius: 20%;
    line-height: 1.5em;
    width: 2em;
    height: 1.5em;
    font: normal normal normal 18px/1 FontAwesome;
    background-color: rgba(255, 221, 51, 0.7);
    left: 20px;

    &:before {
      content: "\f028";
    }

    &.off {
      &:before {
        content: "\f026";
      }
    }
  }

  &-fullscreen {
    border-color: transparent;
    color: rgba(43, 51, 63, 0.7);
    font-size: 3em;
    line-height: 2.5rem;
    width: 3em;
    border-radius: 20%;
    height: 2.5rem;
    margin-right: 5%;
    font: normal normal normal 18px/1 FontAwesome;
    background-color: rgba(255, 221, 51, 0.7);
    right: 20px;
    &:before {
      content: "\f065";
    }
  }
}

/* ----------- Large screens ----------- */

@media only screen and (min-width: 768px) {
  .trust-video-wrapper {
    margin-top: 1%;
  }
}

@media only screen and (max-width: 768px) {
  .trust-video {
    border: none;
  }
}
