@import "../../index.scss";


.badge {

  &-spacing {
    display: flex;
    flex-direction: column;
    // padding-bottom: 3rem;
    padding-top: 1rem;
    &-no-data {
      display: flex;
      flex-direction: row;
    }
  }

  &-section {
    display: flex;
    justify-content: center;  
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    flex-direction: column;
    &-title {
      text-transform: none;
    }
    &-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 1rem;
      padding-right: 2rem;
      padding-top: 1rem;
    }
    &-badges {
      display: flex;
      justify-content: center;
      // flex-wrap: wrap;
      white-space: nowrap;
      overflow-x: scroll;
      &-no-data {
        margin-top: 2rem;
      }
      /* width */
      &::-webkit-scrollbar {
        width: 10px;
        height: 8px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $primary-color;
        border-radius: 10px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
    &-text {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      &-content {
        text-align: justify;
        max-width: 25rem;
      }
    }
  }

  &-container {
    position: relative;
    margin-right: 1rem;
    margin-left: 1rem;
    box-sizing: border-box;
    display: flex;
    &-no-data {
      position: relative;
      margin-right: 2rem;
      margin-left: 2rem;
      // margin-top: 1rem;
      box-sizing: border-box;
      &-container {
        position: relative;
        box-sizing: border-box;
        display: flex;
        margin-right: 0;
        margin-left: 0;
        padding-bottom: 2rem;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
    &-thumb {
      border-radius: 50%;
      border: 1px $dark-env-secondary-color solid;
      height: 1.5rem;
      width: 1.5rem;
      font-size: 0.6rem;
      justify-self: center;
      &-light {
        background-color: $light-color;
        color: $typo-lines-dark;
      }      
      &-dark {
        background-color: $dark-env-color;
        color: $dark-env-typo-lines-light;
      }
    }
    &-img {
      height: 4rem;
      width: 4rem;
      margin-bottom: 4rem;
      &-no-data {
        opacity: 0.5;
      }
    }
    &-profile {
      border-radius: 50%;
      border: 1px $dark-env-secondary-color solid;
      height: 1.5rem;
      width: 1.5rem;
      font-size: 0.6rem;
      justify-self: center;
      margin-left: -0.5rem;
      &-light {
        background-color: $light-color;
        color: $typo-lines-dark;
      }
      &-dark {
        background-color: $dark-env-color;
        color: $dark-env-typo-lines-light;
      }
      &-container {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 5.5rem;
        right: 3.5rem;
      }
    }
    &-title {
      padding-bottom: 0.5rem;
      font-size: 0.7rem;
      position: absolute;
      top: 5.5rem;
      left: 0.5rem;
      &-dark {
        color: $dark-env-typo-lines-light;
      }
      &-light {
        color: $typo-lines-dark;
      }
    }
    &-position-child-thumb {
      position: absolute;
      top: 1.3rem;      
      right: -1rem;
    }
    &-position-child-profile {
      position: relative;
      top: 2.5rem;
      right: -3.3rem;
    }
  }
    
}

/* ----------- Transition screens ----------- */

@media only screen
and (min-width : 768px) {

  .badge {
    &-section {
      width: 100%;
      &-badges {
        justify-content: space-evenly;
      }
    }
  }
}

/* ----------- Large screens ----------- */

@media only screen
and (min-width : 1481px) {

  .badge {
    &-container {
      &-no-data {
        &-container {
          flex-wrap: unset;
        }
      }
    }
    &-section {
      width: 40%;
      &-content {
        padding-top: 0;
      }
      &-badges {
        justify-content: start;
      }
      &-text {
        justify-content: start;
      }
    }
    &-badges {
      justify-content: start;
    }
    &-spacing {
      margin-right: 1rem;
      padding-top: 2rem;
    }
  }
 
}
