@import "../../index";

.x-utu-popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  overflow: scroll;

  &-container {
    z-index: 1001;
    width: 100%;

    &-dark {
      background: transparent;
    }

    &-light {
      background: transparent;
    }
  }

  // icon button
  &-icon-btn {
    padding: 10px;
    margin-right: 3%;
    font-size: 2.8em;
    border: none;
    background: none;
    transition: all ease-out .3s;

    &:hover {
      transform: scale(1.3);
      opacity: 0.6;
    }

    &-overlay {
      z-index: 1001;
    }

    &-light {
      color: $typo-lines-dark;
    }

    &-dark {
      color: $dark-env-typo-lines-light;
    }
  }

  // section content
  &-container {
    z-index: 1001;

    &-content {
      width: 65%;
      margin: auto;
      display: flex;
      justify-content: flex-end;
      border-radius: 10px 10px 0 0;
      background-color: $light-color-desktop;
    }

    &-dark {
      background: transparent;
    }

    &-light {
      background: transparent;
    }
  }

  // background
  &-background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 100%;
    min-height: 100%;
  }
}

/* ----------- Large screens ----------- */

@media only screen and (min-width: 768px) {
  .x-utu-popup {
    min-width: 100%;
    min-height: 100%;

    &-container {
      align-items: center;
      min-width: 100%;
      min-height: 100%;

      &-content {
        align-items: center;
        margin-top: 4%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .x-utu-popup-container-content {
    width: 100%;
    background-color: #ffffff;
    justify-content: center;
  }
}