@import "../../index.scss";


.endor {
  &-input {
    
    &-form {
      display: flex;
      flex-direction: row;
      justify-items: center;
      justify-content: center;
      align-items: center;
      padding-top: 2rem;
      padding-bottom: 2rem;
      
      &-text-area {
        height: 3rem;
        width: 100%;
        margin-right: 1rem;
        border-radius: $border-radius;
        border: none;
        padding: $padding-sm;
        font-weight: 300;
        font-size: 0.8rem;
        align-items: center;
        align-content: center;
        background-color: $light-color-desktop;
        overflow: hidden;
      }

    }
    
    &-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem 2rem;
      width: 100%;
    }
    
  }
    
    &-text {
      font-size: 1.5rem;
      &-light {
      color: black;
      }
      &-dark {
      color: white;
      }

      &-area {
        display: flex;
        flex-direction: row;
      }
      
      &-info {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-color-bottom;
        width: 1rem;
        height: 1rem;
        margin-left: 1rem;
        font-size: 0.8rem;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 0.5rem;
        transition-timing-function: ease-in-out;
        transition-duration: 2s;
        transition: width 2s, height 4s;
      }
      
      &-body {
        font-size: 0.8rem;
      }
      
      &-title {
        font-size: 0.8rem;
      }
    }
    
    &-btn {
      border-radius: $border-radius;
    }
  }

.endor-utt-balance{
  margin-bottom: 2rem;
  display: flex;
  display: flex;
  box-sizing: border-box;
  width: 10rem;
  height: 4rem;
  border-radius: 5px 30px 30px 5px;
  background-color: $primary-color;
}
/* ----------- Large screens ----------- */

@media only screen
and (min-width : 767px) {
  .endor {
    
    &-input {
      &-section {
        padding-left: 0;
        padding-right: 0;
      }
        &-form {
        width: 40%;
        padding: 2rem;
        &-text-area {
          background-color: $light-color;
          font-size: 1rem;
        }
        &-section {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
        }
      }
    }
    
    &-text {
      padding: 2rem;
      width: 40%;
      &-info {
        font-size: 1rem;
      }
    }
  }
}

@media only screen
and (min-width : 830px) {
  .endor {  
    &-text {
      &-body {
        font-size: 1rem;
      } 
      &-title {
        font-size: 1rem;
      }
    }  
    &-input {
      &-form {
        &-text-area {
          font-size: 1rem;
        }
      }
    }
  }
}

.utt-balance-logo{
  justify-items: center;
  height: 4rem;
  width: 4rem;
}
.x-utu-utt-heading-text{
  margin-top: 7%;
  text-align: center;
}

